* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-background: #2563eb;
  --sidebar-color: #fafaf9;
}

/* =============== container ============= */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 5fr;
}

/* ================ header ================ */
.header {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 1rem;
  align-items: center;
}
.header img {
  border-radius: 50%;
}

.header .profile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
}

.profile img {
  width: 5rem;
  height: 5rem;
  grid-row: 1/3;
}

.profile p {
  align-self: end;
}
.profile h3 {
  align-self: center;
}

.header-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.header-btns button {
  padding: 0.3rem 1rem;
  border-radius: 5rem;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

.search-container input {
  border-radius: 0.5rem;
  padding: 0.2rem;
  background: #e5e5e5;
}

.search-container svg {
  justify-self: center;
}

.notification {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.notification img {
  width: 3rem;
  height: 3rem;
}

/* ========= sidebar ========= */
.sidebar {
  background: #2563eb;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 50px;
  color: var(--sidebar-color);
  grid-area: 1 / 1 / -1 / 2;
  padding: 1rem;
}

.logo {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: left;
}
.links li {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.tools {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.tools li {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* ========== main content ============ */

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.projects-container {
  grid-row: 1/3;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 0.5rem;
}
.announcements {
  grid-column: 2/3;
}
.trends {
  grid-column: 2/3;
}

.project {
  display: grid;
  grid-template-columns: auto 1fr;
  background: slategray;
  border-radius: 0.5rem;
}

.left-color {
  grid-row: 1/3;
  height: 100%;
  width: 0.4rem;
  background: black;
  border-radius: 0.5rem 0 0 0.5rem;
}
.project ul {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 0.5rem;
}
.project ul > li {
  list-style: none;
}

.project-text {
  padding: 0.5rem 0.5rem 0;
}
