@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

:root {
  --sidebar-background: #0369a1;
  --white-text: #fafaf9;
  --btns-bg: #0369a1;
  --main-bg: #cbd5e1;
  --content-bg: #f8fafc;
  --divider-bg: #d1d5db;
  --project-left-color-bg: #f59e0b;
}

/* =============== container ============= */
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto 5fr;
}

/* ================ header ================ */
.header {
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding: 0.5rem 1.5rem;
  align-items: center;
  background-color: white;
}
.header img {
  border-radius: 50%;
}

.header .profile {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
}

.profile img {
  width: 5rem;
  height: 5rem;
  grid-row: 1/3;
}

.profile p {
  align-self: end;
}
.profile h3 {
  align-self: center;
}

.header-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.header-btns button {
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  border: none;
  background: var(--btns-bg);
  color: var(--white-text);
  text-transform: capitalize;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
}

.search-container input {
  border-radius: 0.5rem;
  padding: 0.2rem;
  background: #e5e5e5;
  border: none;
}

.search-container svg {
  justify-self: center;
}

.notification {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.notification img {
  width: 3rem;
  height: 3rem;
}

/* ========= sidebar ========= */
.sidebar {
  background: #2563eb;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 50px;
  color: var(--white-text);
  grid-area: 1 / 1 / -1 / 2;
  padding: 1rem;
  text-transform: capitalize;
}

.logo {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: left;
}
.links li {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.tools {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.tools li {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* ========== main content ============ */

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
  gap: 1rem;
  background: var(--main-bg);
}

.main-content h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.projects-container {
  grid-row: 1/3;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 1.5rem;
}

.project {
  display: grid;
  grid-template-columns: auto 1fr;
  background: var(--content-bg);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.project:hover {
  cursor: pointer;
}

.left-color {
  grid-row: 1/3;
  height: 100%;
  width: 0.2rem;
  background: var(--project-left-color-bg);
  border-radius: 0.5rem 0 0 0.5rem;
}
.project h5 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}
.project ul {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding: 0.5rem;
}
.project ul > li {
  list-style: none;
}

.project-text {
  padding: 0.5rem 0.5rem 0;
}

.announcements-trends {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}
.announcements {
  grid-row: 1 / span 1;
}

.trends {
  grid-row: 2 / span 1;
}

.announcements ul {
  padding: 1rem;
  width: 100%;
  background: var(--content-bg);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.announcements ul li {
  list-style: none;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--divider-bg);
}

.trend-list {
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--content-bg);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.trend-list li {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
}

.trend-list img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
